--base03: #002b36;
--base02: #073642;
--base01: #586e75;
--base00: #657b83;
--base0: #839496;
--base1: #93a1a1;
--base2: #eee8d5;
--base3: #fdf6e3;
--yellow: #b58900;
--orange: #cb4b16;
--red: #dc322f;
--magenta: #d33682;
--violet: #6c71c4;
--blue: #268bd2;
--cyan: #2aa198;
--green: #719e07;
--tone-1: var(--base3);
--tone-2: var(--base2);
--tone-3: var(--base1);
--tone-4: var(--base0);
--tone-5: var(--base00);
--tone-6: var(--base01);
--tone-7: var(--base02);
--tone-8: var(--base03);
--tone-9: black;
--accent-1: var(--yellow);
--accent-2: var(--blue);
--accent-3: var(--green);
